#mountain-img {
    width: 99.5%;
    height: 98.9%;
    position: absolute;
    opacity: 0.9;
}
#titulo {
    position: absolute;
    color: black;
    margin-left: 44%;
}
#login-senha {
    border: 2px solid white;
    position: absolute;
    margin-top: 15%;
    margin-left: 41%;
    padding: 50px 30px 80px 30px;
    border-radius: 20px;
}
.fazendo-login {
    border-radius: 20px;
}
#botaologin {
    margin-top: 20%;
    margin-left: 27%;
}
#textodologin {
    margin-left: 27%;
}
body {
    background-image: url(mountains-9919834_1280.jpg);
    background-size: cover;

}

