#mountain-img {
    position: absolute;
    opacity: 0.9;
}
#titulo {
    position: absolute;
    color: black;
    margin-left: 44%;
}
#login-senha {
    border: 2px solid white;
    position: absolute;
    margin-top: 15%;
    margin-left: 40%;
    padding: 50px 30px 80px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.fazendo-login {
    border-radius: 20px;
    background-image: url(/img/mountains-9919834_1280.jpg);
    background-size: 900px;
    padding: 10px 10px 10px 20px;
}
#botaologin {
    margin-top: 20%;
    margin-left: 5%;
    padding: 10px 60px 10px 60px;
    background-color: #ffffff;
    border-radius: 20px;
}
#textodologin {
    margin-left: 30%;
}
body {
    background-image: url(mountains-9919834_1280.jpg);
    background-size: 2000px;

}
@media screen and (max-width: 500px) {
#mountain-img {
    position: absolute;
    opacity: 0.9;
}
#titulo {
    position: absolute;
    color: #000000;
    margin-top: 20%;
    margin-left: 36%;
}
#login-senha {
    border: 2px solid white;
    position: absolute;
    margin-top: 40%;
    margin-left: 25%;
    padding: 50px 30px 80px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.fazendo-login {
    border-radius: 20px;
    background-image: url(/img/mountains-9919834_1280.jpg);
    background-size: 900px;
    padding: 10px 10px 10px 20px;
}
#botaologin {
    margin-top: 20%;
    margin-left: 4%;
    padding: 10px 60px 10px 60px;
    background-color: #ffffff;
    border-radius: 20px;
}
#textodologin {
    margin-left: 30%;
}
body {
    background-image: url(/img/mountains-9919834_1280.jpg);
    background-size: 2000px;
}}


